<div class="card-header">
  <% if user_signed_in? %>
    <div class="header-button">
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      <%= link_to "新規投稿", new_card_path %>
    </div>
  <% else %>
    <div class="header-button">
      <%= link_to "ログイン", new_user_session_path, class: "post" %>
      <%= link_to "新規登録", new_user_registration_path, class: "post" %>
    </div>
  <% end %>
</div>
<div class="main-card">
  <% @cards.each do |card| %>
    <%= card.comment%>
    <div class="cards">
      <% card.images.each do |image| %>
        <%= image_tag image, class:'images' %>
      <% end %>
    </div>
  <% end %>
</div>
